<section class="details-text-image pt-md-2 pb-md-4 pb-xl-6 d-md-flex position-relative">
    <div class="col-md-6 col-xl-7 pe-xl-4 mb-2 mb-md-0">

        <!-- IMAGE WITH CAPTION -->
        <div class="position-relative z-1">
        {% assign detailsImage = section.settings.image | img_url: '2000x' %}
            {% 
                render 'image-with-caption' 
                src: detailsImage
                alt: 'Seneca'
                caption: section.settings.imageCaption
                paddedCaption: true
                proportion: 1.37
                proportionMd: 1.59
                proportionLg: 1.6
            %}
        </div>
        <!-- END :: IMAGE WITH CAPTION -->

    </div>

    <div class="col-md-6 col-xl-5 d-flex flex-column justify-content-between">
        <div 
        class="px-1 px-xl-5 from-y should-animate dl-3 mb-3 pb-md-0"
        data-scroll
        data-scroll-direction="vertical"
        data-scroll-repeat="false">
            <h4 class="content h6 p2-lg lh-1 text-uppercase ps-md-1 pe-md-4">
            {{section.settings.text}}.</h4>

            <h4 class="content h6 p2-lg lh-1 text-uppercase ps-md-1 pe-3 pe-md-4">{{section.settings.subtext}}</h4>
        </div>

        <!-- SMALL IMAGE -->
        <div class="col-9 col-md-9 col-xl-8 ml-auto position-relative z-1 small-image">
        {% assign captionImage = section.settings.image_2 | img_url: '2000x' %}
            {% 
                render 'image-with-caption' 
                src: captionImage
                proportion: 1.37
                proportionMd: 1.33
                proportionLg: 1.31
                alt: 'Seneca'
                caption: section.settings.imageCaption_2
            %}
        </div>
        <!-- END :: SMALL IMAGE -->

    </div>

    <!-- BG COLOR BOTTOM -->
    <div class="bg-color position-absolute l-0 b-0 w-100vw bg-lightBaige"></div>
    <!-- END :: BG COLOR BOTTOM -->
</section>
{% schema %}
{
  "name": "Details Text and image",
  "tag": "section",
  "settings": [
    {
        "id": "image",
        "type": "image_picker",
        "label": "Image 1"
    },
     {
        "id": "imageCaption",
        "type": "text",
        "label": "Image 1 Caption",
        "default": "Tim wears the Forma Jacket in Olive and the Vanta Pant in Herringbone."
    },
    {
        "id": "image_2",
        "type": "image_picker",
        "label": "Image 2"
    },
    {
        "id": "imageCaption_2",
        "type": "text",
        "label": "Image 1 Caption",
        "default": "&nbsp"
    },
    {
      "id": "text",
      "type": "textarea",
      "label": "Text",
      "default":"The acclaimed <br>NYC-based entrepreneur, <br>creator, co-founder <br>of Haerfest, and voice for change in the AAPI movement talks on the philosophies that guide him."
    },
    {
      "id": "subtext",
      "type": "textarea",
      "label": "Subtext",
      "default":"All words by Tim Joo in conversation with Seneca."
    }
  ]
}
{% endschema %}