.collection-widget {
    &.right {
        margin-right:0rem;
        margin-left:0;
        @include respond-to(lg) {
            margin-right:-2.2rem;
            margin-left:0;
        }
    }
    &.left {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        @include respond-to(lg) {
            margin-bottom: 3rem;
            margin-left:-2.2rem;
        }
    }
    display:none;
    @include respond-to(md) {
        display:flex;
        width:24.2rem;
    }
    @include respond-to(lg) {
        display:flex;
        width:52.3rem;
    }   
    .widget-text {
        width:50%;
        padding:1rem;
        @include respond-to(md) {
            padding:1.3rem;
        }
        @include respond-to(lg) {
            padding:3rem;
        }
        .widget-collection-name {
            bottom:1rem;
            @include respond-to(md) {
                bottom:1.3rem;
            }
            @include respond-to(lg) {
                bottom:3rem;
            }
        }
    }
    .widget-image {
        width:50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
} 