.dropdown{
	position: relative;
}

.dropdown-toggle{
	text-transform: uppercase;
	cursor: pointer;	
}

$padding: 1rem;
.dropdown-content{
	position: absolute;
	top: calc(#{$padding} / 2 + 100%);

	&:before{
		content: '';
		position: absolute;
		display: block;
		width: calc(100% + #{$padding});
		height: calc(100% + #{$padding});
		top: calc(-#{$padding} / 2);
		left:calc(-#{$padding} / 2);
		background-color: $white;
		z-index: -1;
	}
}