<section class="visionaries-list">
    <h3
    data-scroll
    data-scroll-direction="vertical"
    data-scroll-repeat="false"  class="p2 text-center visionaries-list-title should-animate from-y dl-2">{{section.settings.title_text}}</h3>
    {% for block in section.blocks %}
    {% assign imageLeft = block.settings.image_left | img_url: 'master' %}
    {% assign imageRight = block.settings.image_right | img_url: 'master' %}
    {% assign imageClassLeft = block.settings.image_class_left %}
    {% assign imageClassRight = block.settings.image_class_right %}
    {% assign titleLeft = block.settings.title_left %}
    {% assign dateLeft = block.settings.date_left %}
    {% assign authorLeft = block.settings.author_left %}
    {% assign avatarLeft = block.settings.avatar_left | img_url: 'master' %}
    {% assign titleRight = block.settings.title_right %}
    {% assign dateRight = block.settings.date_right %}
    {% assign authorRight = block.settings.author_right %}
    {% assign avatarRight = block.settings.avatar_right | img_url: 'master' %}
    <div class="visionaries-list-listing d-flex justify-content-between flex-wrap">
        {% render 'visionaries-card' 
        class:imageClassLeft 
        image:imageLeft
        title:titleLeft
        author:authorLeft
        avatar:avatarLeft
        date:dateLeft
        url: block.settings.url_left %}
        {% render 'visionaries-card' 
        class:imageClassRight
        image:imageRight
        title:titleRight
        author:authorRight
        avatar:avatarRight
        date:dateRight
        url: block.settings.url_right %}
    </div>
    {% endfor %}
</section>


{% schema %}
{
  "name": "Visionaries List",
  "tag": "section",
  "settings": [
    {
      "id": "title_text",
      "type": "textarea",
      "label": "Title",
      "default":"THINKERS, CREATORS, FOUNDERS"
    }
  ],
  "blocks": [
      {
        "type": "text",
        "name": "Visionaries block",
        "settings": [
        {
            "type": "url",
            "id": "url_left",
            "label": "First Image url"
          },           
          {
            "type": "image_picker",
            "id": "image_left",
            "label": "First Image"
          },
          {
            "id": "image_class_left",
            "type": "text",
            "label": "small/big"
          },
          {
            "id": "title_left",
            "type": "textarea",
            "label": "First Title"
          },
          {
            "id": "date_left",
            "type": "textarea",
            "label": "First Date"
          },
          {
            "id": "author_left",
            "type": "textarea",
            "label": "First Author"
          },
          {
            "id": "avatar_left",
            "type": "image_picker",
            "label": "First Avatar"
          },
          {
            "type": "url",
            "id": "url_right",
            "label": "Second Image url"
          }, 
          {
            "type": "image_picker",
            "id": "image_right",
            "label": "Second Image"
          },
          {
            "id": "image_class_right",
            "type": "text",
            "label": "small/big"
          },
          {
            "id": "title_right",
            "type": "textarea",
            "label": "Second Title"
          },
          {
            "id": "date_right",
            "type": "textarea",
            "label": "Second Date"
          },
          {
            "id": "author_right",
            "type": "textarea",
            "label": "Second Author"
          },
          {
            "id": "avatar_right",
            "type": "image_picker",
            "label": "Second Avatar"
          }         
        ]
      }
    ]
}
{% endschema %}