.landing-top {
    @include media-breakpoint-up(md) {
        padding-bottom: 12vw;
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: 15vw;
    }

    .small-image {
        margin-top: -5rem;
        @include media-breakpoint-up(md) {
            position: absolute;
            right: 0;
            bottom: 20vw;
            margin-top: 0;
        }
        @include media-breakpoint-up(xl) {
            bottom: 0;
        }
    }
}