<footer>
<div class="footer_top-container bg-dark">
    {% render 'top-footer-text' span:"WE STAND BEHIND EVERYTHING WE MAKE." text: "DESIGNED WITH ATTENTION TO EVERY DETAIL TO MAXIMIZE LONGEVITY AND MINIMIZE IMPACT." %}
    {% render 'top-footer-text' span:"SEEK THE STORY BEHIND YOUR CLOTHES." text: "CREATED RESPONSIBLY IN THE UNITED STATES, WITH FABRIC SOURCED FROM ITALY AND PORTUGAL." %}
    {% render 'top-footer-text' span:"PART OF THE FABRIC IN REBUILDING NEW YORK." text: "WE SUPPORT PROGRAMS THAT ARE EMPOWERING ENTREPRENEURS AND RESILIENCY IN NYC." %}
</div>
<div  class="footer_bottom-container bg-dark color-white">
    <div class="footer_bottom-left">
        <h2>LET’S CONNECT</h2>
        <p>RELEASE DATES, PHILOSOPHY, STORIES, & BOOK RECOMMENDATIONS. </br>
        A FEW TIMES A MONTH.</p>
        <form>
            <input type="email" placeholder="Email address">
            <input type="button" value="Sign up">
        </form>   
    </div>
    <div class="footer_bottom-right">
        <div class="footer_bottom-box">
            <a>ACCOUNT</a>
            <a>FAQs</a>
            <a>SIZING GUIDE</a>
            <a>RETURNS</a>
            <a>CONTACT</a>
            <div class="footer_bottom-box mt-4">
                <a>INSTAGRAM</a>
                <a>FACEBOOK</a>
            </div>
        </div>
        <div class="footer_bottom-box">
            <a>PHILOSOPHY</a>
            <a>VISIONARIES</a>
            <a>SUSTAINABILITY</a>
            <a>ACCESSIBILITY</a>
            <a>BOOK RECOMMENDATIONS</a>
            <div class="footer_bottom-box mt-4">
                <a>REFER A FRIEND</a>
                <a>REVIEWS</a>
            </div>
        </div>
    </div>
</div>
<div class="footer-container bg-dark color-white">
    <div>
        <p>© 2021 SENECA ALL RIGHTS RESERVED</p>
    </div>
    <div> <img src="{{ 'Seneca-logo.png' | asset_img_url }}"></div>
    <div class=" footer-container-privacy">
        <p>TERMS OF USE</p>
        <p>PRIVACY POLICY</p>
    </div>
</div>
</footer>