<div class="contact_form bg-lightBaige">
    <h2>NICE TO MEET, LET’S CONNECT.</h2>
    <div class="contact_form-container">
        {% render 'contact-email' %}
        {% render 'contact-phone' %}
    </div>
</div>