<section class="product">
  <h1>{{ product.title }}</h1>
  <div class="product__price">
    <span class="product__price-big">{{ product.price | money }}</span>
  </div>
  <div class="product__qty">
    qty
  </div>
  <div class="quantity product__count">
    <div class="dec product__minus">-</div>
    <div class="ammount">1</div>
    <div class="inc product__plus">+</div>
  </div>
  <div class="product-details">
    {% include 'swatch' %}
    <button class="atc-button add-to-cart btn btn--cart"  data-variant-Id="{{product.variants[0].id}}" data-quantity="1">
      <span>Add to bag</span></button>
  </div>  
</section>