{%- comment -%}
    {% section 'products-grid' %}
    {% section 'products-grid-with-text' %}
    {% section 'text-with-three-imgs' %}
    {% section 'product' %}
{%- endcomment -%}
<div 
id="wrapper" 
data-scroll-container 
data-router-view="index">
    {{ content_for_index }}
    {% section 'contact-form' %} 
    {% comment %}
    {% section 'image-left' %}
    {% section 'contact-form' %} {% endcomment %}
    {% section 'footer' %}
</div>
    
