<div 
data-scroll-container 
data-router-view="defpage" 
id="wrapper"
class="product-detail">

    {% section 'detailsHero' %}
    {% section 'detailsTextImage' %}
    {% section 'detailsFwImage' %}
    {% section 'detailsHeadlineCaption' %}
    {% section 'detailsTwoColumn' %}
    {% section 'detailsMiddle' %}
    {% section 'detailsTwoColumnSecond' %}
    {% section 'detailsImageCaption' %}
    {% section 'detailsRedQuote' %}


    {% section 'footer' %}

</div>