<div id="wrapper" data-scroll-container data-router-view="defpage">
    {% section 'landing-hero' %}
    {% section 'landing-collection' %}
    {% section 'landing-top' %}
    {% section 'landing-middle' %}
    {% section 'landing-bottom' %}
</div>