<div class="swiper overflow-hidden">
    <div class="swiper-wrapper">
        {% for img in slides %}

            {% comment %}
            offseting the slides for the multi slide mode
            {% endcomment %}
            {% if  index > forloop.index  %}    
                {% assign order = forloop.index | plus: slides.size %}
            {% else %}
                {% assign order = forloop.index %}
            {% endif %}

            <div 
            style='order: {{order}}'
            class='swiper-slide'>
                
                {%
                    render 'parallax-image' 
                    src: img,
                    proportion: 1.542
                    proportionMd: 1.485
                    proportionLg: 1.45
                    alt: 'Seneca'
                %}

            </div>
        {% endfor %}
    </div>
</div>