<div class="image-swiper swiper overflow-hidden 
{% if fill %} position-absolute w-100 h-100 t-0 l-0 {% endif %}">
	<div class="swiper-wrapper">
	    {% for slide in slides %}
	        <div class='swiper-slide'>
	        	<img 
	        	class='{% if fill %} position-absolute w-100 h-100 t-0 l-0 cover {% endif %}'
	        	src='{{slide | img_url:"640x"}}' />
	        </div>
	    {% endfor %}
	</div>
</div>