<div 
tabindex="0"
class='dropdown-filters dropdown {{className}}'>
    
    <!-- TOGGLE -->
	<p 
    data-type='{{filterType}}' 
    class='dropdown-toggle'>{{filterType}}</p>
    <!-- END :: TOGGLE -->

    <!-- TOGGLABLE CONTENT -->
    <div class='dropdown-content {{contentClassName}} z-1'>
        {% render 'filter-group'
            filterType: filterType
            filterOptions: filterOptions
            className: className
            optionClassName: optionClassName
        %}
    </div>
    <!-- END :: TOGGLABLE CONTENT -->

</div>