<section class='filters d-flex p-2 bg-white'>
	{% assign colorOptions = "red, blue, green" | split: ", " %}
	{%
		render 'dropdown-filters'
		filterType: 'color'
		filterOptions: colorOptions
		className: 'd-flex flex-column me-2'
		optionClassName: 'my-small'
	%}

	{% assign sizeOptions = "s, m, l, xl" | split: ", " %}
	{% 
		render 'dropdown-filters'
		filterType: 'size'
		filterOptions: sizeOptions
		className: 'd-flex flex-column me-2'
		optionClassName: 'my-small'
	%}
</section>