{% schema %}
{
  "name": "Random section",
  "tag": "section",
  "settings": [
    {
      "id": "title_2",
      "type": "textarea",
      "label": "Widget 2 title"
    },
    {
      "id": "collection_2",
      "type": "textarea",
      "label": "Widget 1 collection name"
    },
    {
      "id": "collection_2_image",
      "type": "image_picker",
      "label": "Widget 2 collection image"
    }
  ]
}
{% endschema %}

<div>
  <div>title:{{ section.settings.title_2 }}</div>
  <div>title:{{ section.settings.collection_2 }}</div>

  <div class="visionaries-hero-image">
        {% render 'simple-image' src:section.settings.collection_2_image %}
    </div>
  {{section.settings}}
</div>