{% schema %}
{
  "name": "Random section",
  "tag": "section",
  "settings": [
    {
      "id": "title_2",
      "type": "textarea",
      "label": "Widget 2 title"
    },
    {
      "id": "collection_2",
      "type": "textarea",
      "label": "Widget 1 collection name"
    },
    {
      "id": "collection_2_image",
      "type": "image_picker",
      "label": "Widget 2 collection image"
    }
  ]
}
{% endschema %}

<script>
    console.log( {{ settings | json }} );
</script>

<div>
  <div>title:{{ title_2 }}</div>
  {{section.settings}}
</div>