<div class="col-md-6 col-xl-12 ps-1 pe-xl-1 pb-1 pb-md-3 bg-white overflow-hidden">

  <h3 
  data-scroll
  class="h1 h2-md h2-lg text-uppercase px-xl-1 mb-1 should-animate dl-1 from-y">Wear the Vanta Pant with:</h3>

  <!-- PRODUCT SWIPER -->
  <div 
  data-scroll
  class='position-relative related-swiper w-100 should-animate dl-2 from-y'>

    <div class='swiper-wrapper'>
      <!-- SLIDES / PRODUCT CARDS -->
      {% for block in section.blocks %}
          <div class='swiper-slide px-small py-1 '>
           {% assign image = block.settings.product.images[0].src | img_url: 'master' %}
           {% assign price = block.settings.product.price | money_without_trailing_zeros %}

           {%
            render 'product-card' 
            title: block.settings.product.title
            image: image
            price: price
            url: block.settings.product.url
           %}
          </div>
      {% endfor %}
      <!-- END :: SLIDES / PRODUCT CARDS -->
    </div>

  </div>
  <!-- END :: PRODUCT SWIEPR -->

</div>

{% schema %}
{
  "name": "Related Products",
  "settings": [],
  "blocks": [
    {
      "type": "Products",
      "name": "Related Products",
      "limit": 3,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}