<section class="home-fw-image details-hero">
    <!-- FW IMAGE -->
    <div data-scroll class='should-animate dl-1'>
    {% assign detailsImage = section.settings.image | img_url: '2000x' %}
    {% 
        render 'parallax-image' 
        src: detailsImage
        proportion: 2
        proportionMd: 0.93
        proportionLg: 0.61
        imgClass: 
        alt: 'Seneca'
    %}
    </div>
    <!-- END :: FW IMAGE -->

    <!-- CONTENT -->
    <div 
    data-scroll 
    class="headline-wrapper position-relative z-1 headline-font should-animate from-y dl-2">
        <!-- HEADLINE -->
        <div class="position-relative text-center">
            <h1 class="headline font-bold text-uppercase color-red from-y should-animate dl-1"
            data-scroll
            data-scroll-direction="vertical"
            data-scroll-repeat="false">{{section.settings.headline_1}}</h1>
            
            <div class="caption">
                <span 
                class="text-uppercase h6 p2-lg from-y should-animate dl-2 color-white"
                data-scroll
                data-scroll-direction="vertical"
                data-scroll-repeat="false">{{section.settings.headline_2}}</span>
            </div>
        </div>
        <!-- END :: HEADLINE -->
    </div>
    <!-- END :: CONTENT -->
        <div 
        data-scroll
        data-scroll-direction="vertical"
        data-scroll-repeat="false"
        class="tim-joo_container should-animate from-y">
                <p>{{section.settings.headline_3}}</p>
                <a href="{{section.settings.button_url}}" class="button d-block text-center">Read more</a>
        </div>

</section>
{% schema %}
{
  "name": "Home FW image",
  "tag": "section",
  "settings": [
    {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
    },
    {
      "id": "headline_1",
      "type": "text",
      "label": "Headline 1",
      "default":"Tim Joo"
    },
    {
      "id": "headline_2",
      "type": "text",
      "label": "Headline 2",
      "default":"Visionaries"
    },
    {
      "id": "headline_3",
      "type": "text",
      "label": "Excerpt",
      "default":"The entrepreneur and voice for AAPI change discusses the philosophies that guide his life and career."
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button Url",
      "default":"/"
    }
  ],
    "presets": [
        {
            "category": "Home",
            "name": "Home FW Image"
        }
    ]
}
{% endschema %}