{% comment %} 
images src
inside snipet use variable name without ''. 
{% endcomment %}
{% assign image1 = section.settings.image_1 | img_url:"640x" %}
{% assign image2 = section.settings.image_2 | img_url:"640x" %}
{% assign image3 = section.settings.image_3 | img_url:"640x" %}
{% assign image4 = section.settings.image_4 | img_url:"640x" %}
{% assign image5 = section.settings.image_5 | img_url:"640x" %}
{% assign image6 = section.settings.image_6 | img_url:"640x" %}
{% assign image7 = section.settings.image_7 | img_url:"640x" %}

<div class="home-magazin bg-lightBlack pb-md-6 pb-xl-0">
  <!-- TOP ROW -->
  <div class="row p-xl-2">

    <!-- LEFT COLUMN -->
    <div class="col-xl-6 pb-4 pb-md-6 pb-xl-0 row">
      <!-- LEFT IMAGE -->
      <div 
      data-scroll-speed=".6"
      class="col-9 col-xl-6">
          {% 
            render 'image-hover' 
            src: image1,
            text: '“We love<br/> Seneca so much it<br/> physically hurts.”'
            proportion: 1.08
            proportionMd: 1.08
            proportionLg: 1.08
          %}
      </div>
      <!-- END :: LEFT IMAGE -->

      <!-- LEFT SMALL IMAGE -->
      <div class="offset-6 col-6 col-xl-4 left-small minus-margin"
      data-scroll-speed=".6">
        {% 
          render 'image-hover' 
          src: image2,
          text: '“We love<br/> Seneca so much it<br/> physically hurts.”'
          proportion: 1.08
          proportionMd: 1.08
          proportionLg: 1.08
        %}
      </div>
      <!-- LEFT SMALL IMAGE -->

    </div>
    <!-- END :: LEFT COLUMN -->

    <!-- RIGHT COLUMN -->
    <div class="col-xl-6">

      <!-- RIGHT BIG IMAGE -->
      <div class="offset-xl-6 col-xl-6">

        <div 
        class='big-image-wrapper position-relative proportion'
        style='
        --proportion: 137%;
        --proportion-md: 108%;
        --proportion-lg: 108%;
        '>
          {% 
            render 'image-hover' 
            src: image3,
            text: '“We love<br/> Seneca so much it<br/> physically hurts.”'
            absolute: true
            className: 'big-image me-xl-2'
          %}
        </div>

      </div>
      <!-- RIGHT BIG IMAGE -->

      <!-- RIGHT SMALL IMAGE -->
      <div 
      class="right-small ps-2 pe-2 pe-md-0 ps-md-1 ps-xl-0 offset-xl-8 col-md-6 col-xl-4 minus-margin-2"
      data-scroll-speed=".6">
        {% 
          render 'image-hover' 
          src: image4,
          text: '“We love<br/> Seneca so much it<br/> physically hurts.”'
          proportion: 1.08
          proportionMd: 1.08
          proportionLg: 1.08
        %}
      </div>
      <!-- RIGHT SMALL IMAGE -->
    </div>
    <!-- END :: RIGHT COLUMN -->

  </div>
  <!-- END :: TOP ROW -->

  <!-- TEXT -->
  <div class="color-white text-center px-md-2 pt-3 pb-4 pb-xl-0 pt-md-3 pb-lg-6 pt-lg-6 p pt-xl-2">
    <span 
    class="h1-big should-animate from-y dl-1"
    data-scroll
    data-scroll-direction="vertical"
    data-scroll-repeat="false">“</span>
    <div class="h1-big text-uppercase mb-1 mb-md-2 should-animate from-y dl-2"
    data-scroll
    data-scroll-direction="vertical"
    data-scroll-repeat="false">
      {{section.settings.quote}}
    </div>

    <div
    class="should-animate from-y dl-3"
    data-scroll
    data-scroll-direction="vertical"
    data-scroll-repeat="false">
      {{section.settings.autor}} 
    </div>
  </div>
  <!-- END :: TEXT -->

  <!-- BOTTOM ROW -->
  <div class="row pb-md-6 pb-xl-0">
    <div class="col-md-6">
      <!-- RIGHT IMAGE -->
      <div class="ps-md-1 ps-xl-0 col-xl-9 left-bottom">
        {% 
          render 'image-hover' 
          src: image5,
          text: '“We love<br/> Seneca so much it<br/> physically hurts.”'
          proportion: 1.08
          proportionMd: 1.01
          proportionLg: 1.08
        %}
      </div>
      <!-- RIGHT IMAGE -->
    </div>
    <div class="col-md-6 row py-3 py-md-0">
      <!-- CENTER IMAGE -->
      <div class="col-md-3 col-xl-6 ps-md-3 pt-md-6 pe-md-3 d-flex align-items-center position-relative">
        <div 
        class="center-image"
        data-scroll 
        data-scroll-speed=".6">
          {% 
            render 'image-hover' 
            src: image6,
            text: '“We love<br/> Seneca so much it<br/> physically hurts.”'
            proportion: 1.1
            proportionMd: 1.11
            proportionLg: 1.08
          %}
        </div>
      </div>
      <!-- END :: CENTER IMAGE -->

      <div class="col-9 col-md d-flex align-items-md-end align-items-xl-start pt-6 pt-md-0">
        <div class="ps-1 ps-md-0 ps-xl-3 w-100">
          {% 
            render 'image-hover' 
            src: image7,
            text: '“We love<br/> Seneca so much it<br/> physically hurts.”'
            proportion: 1.1
            proportionMd: 1.10
            proportionLg: 1.08
          %}
        </div>
      </div>
    </div>

  </div>
  <!-- END :: BOTTOM ROW -->

</div>


{% schema %}
{
  "name": "Home Magazin",
  "tag": "section",
  "settings": [
    {
      "id": "quote",
      "type": "textarea",
      "label": "Quote",
      "default":"We love Seneca’s commitment to sustainability."
    },
    {
      "id": "autor",
      "type": "text",
      "label": "Author",
      "default":"MONOCLE"
    },
    {
        "id": "image_1",
        "type": "image_picker",
        "label": "Image 1"
    },
    {
        "id": "image_2",
        "type": "image_picker",
        "label": "Image 2"
    },
    {
        "id": "image_3",
        "type": "image_picker",
        "label": "Image 3"
    },
    {
        "id": "image_4",
        "type": "image_picker",
        "label": "Image 4"
    },
    {
        "id": "image_5",
        "type": "image_picker",
        "label": "Image 5"
    },
    {
        "id": "image_6",
        "type": "image_picker",
        "label": "Image 6"
    },
    {
        "id": "image_7",
        "type": "image_picker",
        "label": "Image 7"
    }
  ],
  "presets": [
    {
      "category": "Home",
      "name": "Home Magazin"
    }
  ]
}
{% endschema %}