<div class="red-quote-wrapper bg-red pb-md-6">
{% render 'red-quote' title: section.settings.title_text subtitle:section.settings.title_subtext %}
</div>

{% schema %}
{
  "name": "Red Quotation",
  "tag": "section",
  "settings": [
    {
      "id": "title_text",
      "type": "textarea",
      "label": "Text",
      "default":"EVERY NEW BEGINNING COMES FROM SOME OTHER BEGINNING’S END."
    },
    {
      "id": "title_subtext",
      "type": "textarea",
      "label": "Subtext",
      "default":"SENECA, 63 AD"
    }
  ],
    "presets": [
        {
            "category": "Home",
            "name": "Red Quotation"
        }
    ]
}
{% endschema %}