.details-hero {
    .headline-wrapper {
        margin-top: -16.2rem;
        @include media-breakpoint-up(md) {
            margin-top: -23.5vw;
        }
        .headline {
            font-size: 8.5rem;
            line-height: .9;
            @include media-breakpoint-up(md) {
                line-height: .8;
                font-size: 24.68vw;
            }
        }
        .caption {
            color: $white;
            position: absolute;
            right: 8vw;
            top: 71%;
            @include media-breakpoint-up(md) {
                right: 3vw;
                top: 50%;
                transform: translateY(-60%);
            }
            @include media-breakpoint-up(xl) {
                color: $black;
            }
        }
    }
}