.home-magazin {
	.left-small {
		position: relative;
		z-index: 1;
		@include media-breakpoint-up(xl) {
			left: -10%;
		}
	}
	.right-big {
		position: relative;
		@include media-breakpoint-up(xl) {
			left: 5%;
		    width: 92%;
		    height: 81%;
		}
	}

	.left-bottom {
		@include media-breakpoint-up(xl) {
			position: relative;
			top: 4rem;
		}
	}

	.big-image{
		position: absolute!important;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		top: 0;
		@include media-breakpoint-up(xl) {
			width: 175%;
			height: 170%;
			top: -70%;
		}

		@include media-breakpoint-up(xl) {
			top: -50%;
		}
	}

	.minus-margin{
		position: relative;
		z-index: 1;
		margin-top: -30vw;
		@include media-breakpoint-up(md) {
			margin-top: -30vw;
		}
		@include media-breakpoint-up(xl) {
			margin-top: -8vw;
		}
	}

	.minus-margin-2{
		position: relative;
		z-index: 1;
		margin-top: -40vw;
		@include media-breakpoint-up(md) {
			margin-top: -30vw;
		}
		@include media-breakpoint-up(xl) {
			margin-top: -8vw;
		}
	}

	.center-image {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 50%;
		height: 50%;
		@include media-breakpoint-up(md) {
		    left: -60%;
		    bottom: -30%;
		    width: 200% !important;
		    height: auto;
		    z-index: 1;
		}
		@include media-breakpoint-up(xl) {
			position: relative;
		    left: 0;
			width: 100%;
			bottom: 0;
		}
	}
}