.multi-slider-index {
	.col-custom {
		flex: 0 0 39%;
    	max-width: 39%;
	}
	.arrow-left, .arrow-right  {
		width: 6vw;
		height: auto;
		@include media-breakpoint-up(md) {
			width: 1.5rem;
			height: auto;
		}
		@include media-breakpoint-up(xl) {
			width: 2.5vw;
		}
	}
	.arrow-right {
		transform-origin: center;
		transform: rotate(180deg);
	}
	.wrapper {
		@include media-breakpoint-up(md) {
			margin: 0 -.5rem
		}
		@include media-breakpoint-up(xl) {
			margin: 0
		}
	}
}