<div class="snipet color-black">
     <div class="contact-box">
        <h3>TEXT</h3>
        <p>RELEASE DATES, PHILOSOPHY, STORIES,</br>
            A FEW TIMES A MONTH.</p>
        {% form 'customer', id: formId, novalidate: 'novalidate' %}
        {%- if form.posted_successfully? -%}
                <p class="p1 text-center h6 my-1 mx-auto" tabindex="-1" data-form-status>
                We have sent you an email. Please confirm to proceed
                </p>
            {%- endif -%}
            <input 
            name="contact[email]"
            type="tel" 
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors %}
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
                data-form-status
            {% endif %}
            placeholder="Phone number"
            required>
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="submit" value="Sign up">
        {% endform %}  
    </div>
</div>