<div class="headline-caption">
	<h2 
    class="h1-1-big h1-big-md h1-large-lg from-y dl-1 should-animate d-xl-inline text-uppercase"
    data-scroll
    data-scroll-repeat="false">{{title}}</h2>

    <div 
    class="small h6-xl d-inline-block col-md-7 col-xl-3 text-uppercase content from-y dl-2 should-animate"
    data-scroll
    data-scroll-repeat="false">{{content}}</div>
</div>