<div class="title-text text-uppercase">
    <h2 
    class="h2 mb-1 from-y dl-1 should-animate"
    data-scroll
    data-scroll-repeat="false">{{title}}</h2>
    <div 
    class="content h6 pe-xl-3 from-y dl-2 should-animate"
    data-scroll
    data-scroll-repeat="false">{{content}}</div>
</div>