{% for block in section.blocks %}
{% assign blockImage = block.settings.image | img_url: '2000x' %}
<section data-scroll class="philosophy-cards should-animate dl-y from-y {% if block.settings.reverse == true %} reverse {% endif %}">
    <div class="philosophy-cards-wrapper d-flex justify-content-between flex-wrap">
        <div class="philosophy-cards-image w-100">
            {% 
                render 'parallax-image' 
                src: blockImage
                alt: 'Seneca'
            %}
        </div>
        <div class="philosophy-cards-quotation position-relative">
            {% render 'quotation' quote: block.settings.quote author:block.settings.author %}
            <p class="year position-absolute bottom-0 font-bold p2">{{block.settings.year}}</p>
        </div>
    </div>
</section>
{% endfor %}

{% schema %}
  {
    "name": "Philosophy Blocks",
    "blocks": [
      {
        "type": "text",
        "name": "Block Cards",
        "settings": [
          {
            "type": "checkbox",
            "id": "reverse",
            "label": "Reverse"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "quote",
            "type": "textarea",
            "label": "Quotation"
          },
          {
            "id": "author",
            "type": "textarea",
            "label": "Author"
          },
          {
            "id": "year",
            "type": "textarea",
            "label": "Year"
          }
          
        ]
      }
    ],
      "presets": [
        {
          "category": "Philosophy Page",
          "name": "Philosophy Blocks"
        }
      ]
  }
{% endschema %}