<div class="quotation">
    <p
    data-scroll
    data-scroll-direction="vertical"
    data-scroll-repeat="false" class="p1 color-black text-uppercase font-bold from-y should-animate dl-2">
    {{quote}}
    </p>
<div
data-scroll
data-scroll-direction="vertical"
data-scroll-repeat="false" class="p1 color-black author text-uppercase font-bold from-y should-animate dl-3">{{author}}</div>
</div>