<section class="red-quote bg-red position-relative {{class}}">
    <div class="red-quote-wrap position-absolute top-50 start-50 translate-middle">
        <div 
        data-scroll
        data-scroll-direction="vertical"
        data-scroll-repeat="false"
        class="color-black h1-big text-center mb-3 quote-title should-animate from-y dl-1">{{title}}</div>
        <div 
        data-scroll
        data-scroll-direction="vertical"
        data-scroll-repeat="false"
        class="color-black p1 text-center should-animate from-y dl-2">{{subtitle}}</div>
    </div>
</section>