<section class="text-on-read bg-red">
<h1
data-scroll
data-scroll-direction="vertical"
data-scroll-repeat="false" class="h1 color-black text-uppercase font-bold from-y should-animate dl-3">
{{title}}
</h1>
</section>